/* Opcion 1
prin : #719b95;
prin-dark : #87b2ac;
second: #2d5651;
*/

/* Opcion 2 
--prin-color: #d89845;
    --prin-color-dark: #c54b2c;
    --second-color: #473430;
    --text-color: #eae2cf;
*/

:root {
    /* Colores */
    --prin-color: #719b95;
    --prin-color-dark: #87b2ac;
    --second-color: #2d5651;
    --text-color: #fff;
}



body {
    font-family: 'Heebo', serif;
}

p {
    font-size: 20px;
}

h6 {
    font-weight: 900;
    font-size: 20px;
}

h4 {
    font-weight: 700;
    font-size: 26px;
}

h1 {
    font-family: 'Poetsen One', serif;
    font-weight: 48px;
}

.h5-text {
    font-family: 'Poetsen One', serif;

}

a {
    text-decoration: none;
}

small {
    font-size: 18px;
}


/* Menu */
.menu-img {
    width: 120px;
    height: 120px;
}

.menu-text {
    font-weight: 700;
}

/* Pruebas */

.text-white{
    color: var(--text-color) !important;
}

.text-warning {
    color: red !important;
}

.border-warning{
    border-color: var(--prin-color)!important;
}

.btn-warning{
    background-color: var(--prin-color) !important;
    border-color: var(--prin-color);
    color: white;
}

.btn-warning:hover{
    background-color: var(--prin-color-dark) !important;
    border-color: var(--prin-color-dark);
    color: var(--text-color);
}

.bg-dark{
    background-color: var(--second-color) !important;
}

.btn-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}

.btn-link:hover{
    color: rgba(255, 255, 255, 0.715);
}
